PORT=3001

# Supabase
SUPABASE_URL=https://uglyhmilxcalvdqaeuzd.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnbHlobWlseGNhbHZkcWFldXpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ4NzM2NSwiZXhwIjoyMDkzMDYzMzY1fQ.6RhlkgKyXd4Te2s_Si4mpUCpkArmTyLbRt9OXYV1p9o

# E-mail via Resend
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=re_fT8Ukrjk_LEp5me6UWMWf2ELXTG5HokNX
EMAIL_FROM=onboarding@resend.dev  ← use esse domínio de teste do Resend por enquanto